<ng-template zone></ng-template>

<body>
    <div class="row" style="font-weight: bolder;">
        <div class="col-lg-12 text-center" style="padding-top: 10px; padding-bottom: 40px; font-family: 'Tahoma'">
            <h1>LISTE DES PATIENTS</h1>
        </div>
    </div>

    <table class="center">

        <thead>
            <td>ID</td>
            <td>Nom</td>
            <td>Date de naissance</td>
            <td>Genre</td>
        </thead>

        <tbody>
            <tr *ngFor="let p of myPatients; index as i" style="padding-top: 10px; padding-bottom: 10px;" (click)="pClicked($event)" id={{i}}>

                <td>
                    {{p.id}}
                </td>

                <td>
                    {{p.name[0].family}}
                </td>

                <td>
                    {{p.birthDate}}
                </td>

                <td>
                    {{p.gender}}
                </td>

            </tr>
        </tbody>
    </table>
</body>