label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}

textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}

.info {
    width: 300px;
    height: 100px;
    background-color: rgba(184, 178, 178, 0.3);
}