<div class="content" role="main">

    <div class="row">
        <div class="col-lg-12 text-center" style="padding-top: 40px; font-family: 'Tahoma'">
            <h1>E-DIAGNOSTIC</h1>
        </div>
    </div>

    <div class="row" style="padding-top: 100px; padding-bottom: 100px;">

        <div class="col-md-2"></div>

        <div class="col-md-4 text-center">
            <a routerLink="/ĹistePatients">
                <button class="btn btn-danger btn-lg btn-block">
                  <span>Liste des patients</span>
                </button>
            </a>
        </div>

        <div class="col-md-4 text-center">
            <a routerLink="/Diagnostic">
                <button class="btn btn-danger btn-lg btn-block">
                  <span>Envoi de diagnostic</span>
                </button>
            </a>
        </div>

    </div>

</div>

<footer>
    <img class="mx-auto" src="..\assets\images\logo.png" width="200px" height="auto" />
</footer>